body{
	margin:0 auto;
}

ul{
    list-style: none;
    margin:0;
    padding: 0;
}

header nav{
	background: #000;
}

header ul{
    overflow:hidden;
    padding:20px 10px;
}

header li{
    float: left;
    margin-right:10px;
    text-align: center;
}

header li a{
    color:#fff;
    text-decoration: none;
}

main{
	width: 100%;
}

#filters{
    width: 3%;
    float: left;
    background: #869aa1;
    height: 600px;
}

main aside{
 	background: #444;
 	width: 17%;
 	float: left;
    height: 600px;
}

main aside nav{
    background: #444;
}

main aside li{
    padding: 10px;
    border-bottom: 1px solid #fff;
}

main aside li:hover{
    background: #ff4800;
}

main aside li a{
    color:#fff;
    text-decoration: none;
}

main aside li a:focus{
    color:#ff4800;
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

#search{
    margin: 10px;
}

#projectOptions{
    float: right;
    width: 55px;
}

#newProjectBtn{
    float: right;
    margin: 8px;
}

main article{
 	background: #37a1ae;
 	width: 80%;
 	float: right;
    padding: 15px;
    height: 600px;
}

footer{
    height: 50px;
    background: #000;
}

/****Bootstrap Class****/

.panel-body{
    padding: 20px;
}

.btn-danger {
    background: #ff4800;
}
