<div class="panel panel-default">
  <div class="panel-heading">Project Detail</div>
  <div class="panel-body">
	<ul class="list-group">
		<li class="list-group-item">
			Name: {{$ctrl.project.name}}
		</li>
		<li class="list-group-item">
			Description: {{$ctrl.project.description}}
		</li>
		<li class="list-group-item">
			Status: {{$ctrl.project.status}}
		</li class="list-group-item">
		<li class="list-group-item">
			RFI: {{$ctrl.project.rfi}}
		</li >
		<li class="list-group-item">
			Notes: {{$ctrl.project.notes}}
		</li>
	</ul>
  </div>
  </div>
</div>
