 <div class="panel panel-default">
  <div class="panel-heading">Project Planning</div>
  <div class="panel-body">
    <wj-flex-chart style="height:300px" items-source="$ctrl.data" binding-x="dates">
	    <wj-flex-chart-series binding="todoTasks" name="ToDoTasks" chart-type="LineSymbols"></wj-flex-chart-series>
	    <wj-flex-chart-series binding="finishedTasks" name="FinishedTasks" chart-type="LineSymbols"></wj-flex-chart-series>
	    <wj-flex-chart-legend position="Bottom"></wj-flex-chart-legend>
 	</wj-flex-chart>

  <wj-flex-grid items-source="$ctrl.data">
    <wj-flex-grid-column header="Dates" binding="dates"></wj-flex-grid-column>
    <wj-flex-grid-column header="ToDoTasks" binding="todoTasks"></wj-flex-grid-column>
    <wj-flex-grid-column header="FinishedTasks" binding="finishedTasks"></wj-flex-grid-column>
  </wj-flex-grid>
  </div>
</div>




