<div id="search">
  <input class="form-control" ng-model="$ctrl.query" placeholder="Search..." />
</div>
<nav>
  <ul>
  	<li ng-repeat="project in $ctrl.projects | filter:$ctrl.query">
  	  <a href="#detail{{project.id}}">{{project.name}}
      <div id="projectOptions">
        <a href="#planning{{project.id}}"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
        <a href="#editProject{{project.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
      </div>
      </a>
  	</li>
  </ul>
</nav>

