<div class="panel panel-default">
  <div class="panel-heading">{{$ctrl.formName}}</div>
  <div class="panel-body">
    <form ng-submit="$ctrl.addProject()">
    <div class="form-group">
		<label>Name</label>
		<input class="form-control" type="text" ng-model="$ctrl.project.name"/>
	</div>
	<div class="form-group">
		<label>Description</label>
		<input class="form-control" type="text" ng-model="$ctrl.project.description"/>
	</div>
	<div class="form-group">
	<label>Status</label>
		<select class="form-control" ng-model="$ctrl.project.status">
		  <option value="Pending">Pending</option>
		  <option value="Approved">Approved</option>
		  <option value="Cancelled">Cancelled</option>
		</select>
	</div>
	<div class="form-group">
	<label>Reloted RFI</label>
		<input class="form-control" type="text" ng-model="$ctrl.project.rfi"/>
	</div>
	<div class="form-group">
		<label>Notes</label>
		<input class="form-control" type="text" ng-model="$ctrl.project.notes"/>
	</div>
	<button type="submit" class="btn btn-danger">Save</button>
	</form>
  </div>
</div>
